/.venv
test.py
/dist
/spatools.egg-info
.pybiomart.sqlite
main.ipynb
main.py
process_img.py
/old_dist
/data
/.vscode
convert_point_in_barcodes.py
teste.ipynb
Lais_data.ipynb
df.csv
df_total.csv
spatools/plotting/__pycache__/pl.cpython-311.pyc
